# You should not need to edit this file. Instead, use a drop-in file:
#   systemctl edit himmelblaud.service

[Unit]
Description=Himmelblau Authentication Daemon
After=chronyd.service nscd.service ntpd.service network-online.target suspend.target
Before=systemd-user-sessions.service sshd.service nss-user-lookup.target
Wants=nss-user-lookup.target
# While it seems confusing, we need to be after nscd.service so that the
# Conflicts will trigger and then automatically stop it.
Conflicts=nscd.service
# `Upholds` like a `Wants` directive ensures that unixd-tasks is started but also 
# ensures it's kept running. This allows for a repeatable & fast way of starting 
# unixd-tasks at the right time.
Upholds=himmelblaud-tasks.service

[Service]
DynamicUser=yes
UMask=0027
CacheDirectory=himmelblaud # /var/cache/himmelblaud
RuntimeDirectory=himmelblaud # /run/himmelblaud
StateDirectory=himmelblaud # /var/lib/himmelblaud

Type=notify-reload
ExecStart=/usr/sbin/himmelblaud

# Implied by dynamic user.
# ProtectHome=
# ProtectSystem=strict
# ReadWritePaths=/var/run/himmelblaud-unixd /var/cache/himmelblaud-unixd

# SystemCallFilter=@aio @basic-io @chown @file-system @io-event @network-io @sync
NoNewPrivileges=true
PrivateTmp=true
# We have to disable this to allow tpmrm0 access for tpm binding.
PrivateDevices=false
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
