# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps(rust)"
    ignore:
      # Kanidm currently depends on these outdated versions of opentelemetry
      - dependency-name: "opentelemetry-otlp"
      - dependency-name: "opentelemetry_sdk"
      - dependency-name: "tracing-opentelemetry"
