# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:

  # Updates for unstable
  - package-ecosystem: "cargo"
    directory: "/"
    target-branch: main
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "deps(rust)"
    groups:
      all-cargo-updates:
        patterns:
          - "*"

  # Updates for stable-2.x
  - package-ecosystem: "cargo"
    directory: "/"
    target-branch: stable-2.x
    schedule:
      interval: "quarterly"
    commit-message:
      prefix: "deps(rust)"
    ignore:
      # Keep kanidm deps at 1.7.x for Rust 1.88 compatibility
      - dependency-name: "kanidm_proto"
        versions:
          - ">=1.8.0"
      - dependency-name: "kanidm_lib_crypto"
        versions:
          - ">=1.8.0"
      - dependency-name: "kanidm_lib_file_permissions"
        versions:
          - ">=1.8.0"
      - dependency-name: "kanidm_utils_users"
        versions:
          - ">=1.8.0"
      - dependency-name: "sketching"
        versions:
          - ">=1.8.0"
    groups:
      all-cargo-updates:
        patterns:
          - "*"

  # Updates for stable-1.x
  - package-ecosystem: "cargo"
    directory: "/"
    target-branch: stable-1.x
    schedule:
      interval: "quarterly"
    commit-message:
      prefix: "deps(rust)"
    ignore:
      - dependency-name: "utoipa"
    groups:
      all-cargo-updates:
        patterns:
          - "*"

  # Updates for stable-0.9.x
  - package-ecosystem: "cargo"
    directory: "/"
    target-branch: stable-0.9.x
    schedule:
      interval: "quarterly"
    commit-message:
      prefix: "deps(rust)"
    ignore:
      - dependency-name: "utoipa"
    groups:
      all-cargo-updates:
        patterns:
          - "*"

  # Updates for stable-0.7.x
  - package-ecosystem: "cargo"
    directory: "/"
    target-branch: stable-0.7.x
    schedule:
      interval: "quarterly"
    commit-message:
      prefix: "deps(rust)"
    ignore:
      - dependency-name: "utoipa"
    groups:
      all-cargo-updates:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
