[submodule "src/kanidm"]
	path = src/kanidm
	url = https://github.com/dmulder/kanidm.git
	branch = himmelblau/main
	shallow = true
[submodule "src/idmap/sssd"]
	path = src/idmap/sssd
	url = https://github.com/dmulder/sssd.git
	branch = sss_idmap_4_idp
