[workspace]
members = [
	"src/daemon",
	"src/cli",
	"src/common",
	"src/pam",
	"src/nss",
	"src/glue",
	"src/sketching",
	"src/proto",
	"src/crypto",
	"src/users",
	"src/idmap",
	"src/file_permissions",
	"src/broker",
	"src/sshd-config",
	"src/sso",
]
resolver = "2"

[workspace.package]
version = "0.7.18"
authors = [
    "David Mulder <dmulder@suse.com>"
]
rust-version = "1.66"
edition = "2021"
license = "GPL-3.0-or-later"
homepage = "https://github.com/himmelblau-idm/himmelblau"
repository = "https://github.com/himmelblau-idm/himmelblau"

[workspace.dependencies]
libc = "^0.2.178"
pkg-config = "^0.3.27"
lazy_static = "^1.4.0"
paste = "^1.0.12"
serde = { version = "^1.0.228", features = ["derive"] }
serde_json = "^1.0.148"
tracing-subscriber = "^0.3.22"
tracing = "^0.1.37"
himmelblau_unix_common = { path = "src/common" }
kanidm_unix_common = { path = "src/glue" }
libhimmelblau = { version = "0.8.0" }
clap = { version = "^4.5", features = ["derive", "env"] }
clap_complete = "^4.5.64"
reqwest = { version = "^0.13.1", features = ["json"] }
anyhow = "^1.0.100"
tokio = { version = "^1.48.0", features = ["rt", "macros", "sync", "time", "net", "io-util", "signal", "rt-multi-thread"] }
tokio-util = { version = "^0.7.17", features = ["codec"] }
async-trait = "^0.1.89"
pem = "^3.0.6"
chrono = "^0.4.42"
os-release = "^0.1.0"
jsonwebtoken = "^9.2.0"
zeroize = "^1.8.2"
idmap = { path = "src/idmap" }
identity_dbus_broker = "0.1.4"
rustls = ">=0.23.19" # CVE-2024-11738

# Kanidm deps
argon2 = { version = "0.5.2", features = ["alloc"] }
base32 = "^0.5.0"
base64 = "^0.22.0"
base64urlsafedata = "0.5.0"
hex = "^0.4.3"
num_enum = "^0.7.5"
scim_proto = "^1.6.4"
serde_with = "3.16.1"
time = { version = "^0.3.44", features = ["formatting", "local-offset"] }
url = "^2.4.0"
urlencoding = "2.1.3"
uuid = "^1.19.0"
webauthn-rs-proto = "0.5.4"
kanidm_proto = { path = "./src/proto" }
openssl-sys = "^0.9"
openssl = "^0.10.75"
rand = "^0.9.2"
tss-esapi = "^7.2.0"
sketching = { path = "./src/sketching" }
tracing-forest = "^0.3.0"
rusqlite = "^0.37.0"
hashbrown = { version = "0.16.1", features = ["serde", "inline-more"] }
lru = "^0.16.2"
kanidm_lib_crypto = { path = "./src/crypto" }
kanidm_utils_users = { path = "./src/users" }
walkdir = "2"
csv = "1.4.0"
notify-debouncer-full = { version = ">=0.3, <0.7" }
utoipa = "4.2.0"
utoipa-swagger-ui = "4.0.0"
opentelemetry = { version = "0.20.0" }
opentelemetry_api = { version = "0.20.0", features = ["logs", "metrics"] }
opentelemetry-otlp = { version = "0.31.0", default-features = false, features = [
    "serde",
    "logs",
    "metrics",
    "http-proto",
    "grpc-tonic",
] }
opentelemetry_sdk = "0.31.0"
opentelemetry-stdout = { version = "0.1.0", features = [
    "logs",
    "metrics",
    "trace",
] }
tonic = "0.12.0"
tracing-opentelemetry = "0.32.0"
compact_jwt = { version = "0.4.0-dev", features = ["hsm-crypto", "msextensions"] }
kanidm-hsm-crypto = { version = "^0.2.0", features = ["msextensions"] }
whoami = "1.6.1"
kanidm_lib_file_permissions = { path = "./src/file_permissions" }
