[workspace]
members = [
	"src/daemon",
	"src/cli",
	"src/common",
	"src/pam",
	"src/nss",
	"src/sketching",
	"src/proto",
	"src/crypto",
	"src/users",
	"src/idmap",
	"src/file_permissions",
	"src/broker",
	"src/sshd-config",
	"src/sso",
	"src/qr-greeter",
]
resolver = "2"

[workspace.package]
version = "0.9.19"
authors = [
    "David Mulder <dmulder@suse.com>"
]
rust-version = "1.70"
edition = "2021"
license = "GPL-3.0-or-later"
homepage = "https://github.com/himmelblau-idm/himmelblau"
repository = "https://github.com/himmelblau-idm/himmelblau"

[workspace.dependencies]
libc = "^0.2.170"
pkg-config = "^0.3.27"
lazy_static = "^1.4.0"
paste = "^1.0.12"
serde = { version = "^1.0.180", features = ["derive"] }
serde_json = "^1.0.96"
tracing-subscriber = "^0.3.17"
tracing = "^0.1.37"
himmelblau_unix_common = { path = "src/common" }
libhimmelblau = { version = "0.6.27", features = ["broker", "changepassword", "on_behalf_of"] }
clap = { version = "^4.5", features = ["derive", "env"] }
clap_complete = "^4.5.46"
reqwest = { version = "^0.12.2", features = ["json"] }
anyhow = "^1.0.96"
tokio = { version = "^1.28.1", features = ["rt", "macros", "sync", "time", "net", "io-util", "signal", "rt-multi-thread"] }
tokio-util = { version = "^0.7.8", features = ["codec"] }
async-trait = "^0.1.72"
pem = "^3.0.2"
chrono = "^0.4.31"
os-release = "^0.1.0"
jsonwebtoken = "^9.2.0"
zeroize = "^1.7.0"
idmap = { path = "src/idmap" }
identity_dbus_broker = "0.1.3"
rustls = ">=0.23.19" # CVE-2024-11738

# Kanidm deps
argon2 = { version = "0.5.2", features = ["alloc"] }
base32 = "^0.5.0"
base64 = "^0.22.0"
base64urlsafedata = "0.5.0"
hex = "^0.4.3"
num_enum = "^0.7.2"
scim_proto = "^1.3.2"
serde_with = "3.1.0"
time = { version = "^0.3.21", features = ["formatting", "local-offset"] }
url = "^2.4.0"
urlencoding = "2.1.3"
uuid = { version = "^1.4.1", features = ["v4"] }
webauthn-rs-proto = "0.5.0"
kanidm_proto = { path = "./src/proto" }
openssl-sys = "^0.9"
openssl = "^0.10.55"
rand = "^0.9.0"
tss-esapi = "^7.2.0"
sketching = { path = "./src/sketching" }
tracing-forest = "^0.1.6"
rusqlite = "^0.33.0"
hashbrown = { version = "0.15.1", features = ["serde", "inline-more"] }
lru = "^0.13.0"
kanidm_lib_crypto = { path = "./src/crypto" }
kanidm_utils_users = { path = "./src/users" }
walkdir = "2"
csv = "1.2.2"
notify-debouncer-full = { version = ">=0.3, <0.4" }
utoipa = "4.2.0"
utoipa-swagger-ui = "4.0.0"
opentelemetry = { version = "0.20.0" }
opentelemetry_api = { version = "0.20.0", features = ["logs", "metrics"] }
opentelemetry-otlp = { version = "0.13.0", default-features = false, features = [
    "serde",
    "logs",
    "metrics",
    "http-proto",
    "grpc-tonic",
] }
opentelemetry_sdk = "0.20.0"
opentelemetry-stdout = { version = "0.1.0", features = [
    "logs",
    "metrics",
    "trace",
] }
tonic = "0.12.0"
tracing-opentelemetry = "0.21.0"
compact_jwt = { version = "0.4.0-dev", features = ["hsm-crypto", "msextensions"] }
kanidm-hsm-crypto = { version = "^0.2.0", features = ["msextensions"] }
whoami = "1.5.2"
kanidm_lib_file_permissions = { path = "./src/file_permissions" }
