[workspace]
members = [
	"src/himmelblaud",
	"src/aad-tool",
	"src/unix_common",
	"src/msal",
	"src/pam",
	"src/nss",
	"src/glue",
	"src/policies",
	"src/kanidm/libs/sketching",
	"src/kanidm/proto",
	"src/kanidm/libs/crypto",
]

[workspace.package]
version = "0.0.3"
authors = [
    "David Mulder <dmulder@suse.com>"
]
rust-version = "1.66"
edition = "2021"
license = "MPL-2.0"
homepage = "https://github.com/openSUSE/himmelblau"
repository = "https://github.com/openSUSE/himmelblau"

[workspace.dependencies]
libc = "^0.2.144"
pkg-config = "^0.3.27"
lazy_static = "^1.4.0"
paste = "^1.0.12"
serde = { version = "^1.0.163", features = ["derive"] }
serde_json = "^1.0.96"
tracing-subscriber = "^0.3.17"
tracing = "^0.1.37"
himmelblau_unix_common = { version = "^0.0.3", path = "src/unix_common" }
kanidm_unix_common = { version = "^0.0.3", path = "src/glue" }
msal = { version = "^0.0.3", path = "src/msal" }
clap = { version = "^3.2", features = ["derive", "env"] }
reqwest = { version = "^0.11.18", features = ["json"] }
anyhow = "^1.0.71"
tokio = { version = "^1.28.1", features = ["rt", "macros", "sync", "time", "net", "io-util", "signal"] }
tokio-util = { version = "^0.7.8", features = ["codec"] }
async-trait = "^0.1.72"
himmelblau_policies = { version = "^0.0.3", path = "src/policies" }

# Kanidm deps
argon2 = { version = "0.5.1", features = ["alloc"] }
base32 = "^0.4.0"
base64 = "^0.21.0"
base64urlsafedata = "0.1.3"
hex = "^0.4.3"
num_enum = "^0.5.11"
scim_proto = "^0.2.1"
serde_with = "3.1.0"
time = { version = "^0.3.21", features = ["formatting", "local-offset"] }
url = "^2.4.0"
urlencoding = "2.1.3"
uuid = "^1.4.1"
webauthn-rs-proto = "0.4.8"
kanidm_proto = { path = "./src/kanidm/proto", version = "^0.0.3" }
openssl-sys = "^0.9"
openssl = "^0.10.55"
rand = "^0.8.5"
tss-esapi = "^7.2.0"
sketching = { path = "./src/kanidm/libs/sketching" }
tracing-forest = "^0.1.6"
rusqlite = "^0.28.0"
hashbrown = { version = "0.14.0", features = ["serde", "inline-more", "ahash"] }
lru = "^0.8.0"
kanidm_lib_crypto = { path = "./src/kanidm/libs/crypto", version = "0.1.0" }
