[workspace]
members = [
	"src/daemon",
	"src/cli",
	"src/common",
	"src/graph",
	"src/pam",
	"src/nss",
	"src/glue",
	"src/policies",
	"src/kanidm/libs/sketching",
	"src/proto",
	"src/kanidm/libs/crypto",
	"src/kanidm/libs/users",
]
resolver = "2"

[workspace.package]
version = "0.2.0"
authors = [
    "David Mulder <dmulder@suse.com>"
]
rust-version = "1.66"
edition = "2021"
license = "MPL-2.0"
homepage = "https://github.com/himmelblau-idm/himmelblau"
repository = "https://github.com/himmelblau-idm/himmelblau"

[workspace.dependencies]
libc = "^0.2.144"
pkg-config = "^0.3.27"
lazy_static = "^1.4.0"
paste = "^1.0.12"
serde = { version = "^1.0.180", features = ["derive"] }
serde_json = "^1.0.96"
tracing-subscriber = "^0.3.17"
tracing = "^0.1.37"
himmelblau_unix_common = { path = "src/common" }
kanidm_unix_common = { path = "src/glue" }
msal = { version = "0.1.15" }
graph = { path = "src/graph" }
clap = { version = "^3.2", features = ["derive", "env"] }
clap_complete = "^4.4.1"
reqwest = { version = "^0.11.18", features = ["json"] }
anyhow = "^1.0.71"
tokio = { version = "^1.28.1", features = ["rt", "macros", "sync", "time", "net", "io-util", "signal"] }
tokio-util = { version = "^0.7.8", features = ["codec"] }
async-trait = "^0.1.72"
himmelblau_policies = { path = "src/policies" }
pem = "^3.0.2"
chrono = "^0.4.31"
os-release = "^0.1.0"
jsonwebtoken = "^9.2.0"
zeroize = "^1.7.0"

# Kanidm deps
argon2 = { version = "0.5.2", features = ["alloc"] }
base32 = "^0.4.0"
base64 = "^0.22.0"
base64urlsafedata = "0.1.3"
hex = "^0.4.3"
num_enum = "^0.5.11"
scim_proto = "^0.2.1"
serde_with = "3.1.0"
time = { version = "^0.3.21", features = ["formatting", "local-offset"] }
url = "^2.4.0"
urlencoding = "2.1.3"
uuid = "^1.4.1"
webauthn-rs-proto = "0.4.8"
kanidm_proto = { path = "./src/proto" }
openssl-sys = "^0.9"
openssl = "^0.10.55"
rand = "^0.8.5"
tss-esapi = "^7.2.0"
sketching = { path = "./src/kanidm/libs/sketching" }
tracing-forest = "^0.1.6"
rusqlite = "^0.28.0"
hashbrown = { version = "0.14.0", features = ["serde", "inline-more", "ahash"] }
lru = "^0.8.0"
kanidm_lib_crypto = { path = "./src/kanidm/libs/crypto", version = "0.2.0" }
kanidm_utils_users = { path = "./src/kanidm/libs/users" }
walkdir = "2"
csv = "1.2.2"
notify-debouncer-full = { version = "0.3" }
utoipa = "4.0.0"
utoipa-swagger-ui = "4.0.0"
opentelemetry = { version = "0.20.0" }
opentelemetry_api = { version = "0.20.0", features = ["logs", "metrics"] }
opentelemetry-otlp = { version = "0.15.0", default-features = false, features = [
    "serde",
    "logs",
    "metrics",
    "http-proto",
    "grpc-tonic",
] }
opentelemetry_sdk = "0.22.1"
opentelemetry-stdout = { version = "0.1.0", features = [
    "logs",
    "metrics",
    "trace",
] }
tonic = "0.10.2"
tracing-opentelemetry = "0.23.0"
compact_jwt = { version = "0.3.5", features = ["hsm-crypto", "msextensions"] }
kanidm-hsm-crypto = { version = "^0.1.6", features = ["msextensions"] }
