# You should not need to edit this file. Instead, use a drop-in file:
#   systemctl edit himmelblaud-broker.socket

[Unit]
Description=Himmelblau Daemon Broker Socket

[Socket]
ListenStream=/run/himmelblaud/broker_sock
FileDescriptorName=himmelblaud-broker
Service=himmelblaud.service
SocketMode=0666
Accept=no

[Install]
WantedBy=sockets.target
