# You should not need to edit this file. Instead, use a drop-in file:
#   systemctl edit himmelblaud.socket

[Unit]
Description=Himmelblau Authentication Daemon Socket

[Socket]
ListenStream=/run/himmelblaud/socket
FileDescriptorName=himmelblaud
SocketMode=0666
Accept=no

[Install]
WantedBy=sockets.target
