# You should not need to edit this file. Instead, use a drop-in file:
#   systemctl edit himmelblaud-tasks.service

[Unit]
Description=Himmelblau Local Tasks
After=chronyd.service ntpd.service network-online.target himmelblaud.service
Requires=himmelblaud.service

# This prevents starting unixd-tasks before unixd is running and
# has created the socket necessary for communication.
# We need the check so that fs namespacing used by`ReadWritePaths` has a
# strict enough target to namespace. Without the check it fails in a more confusing way.
ConditionPathExists=/run/himmelblaud/task_sock

[Service]
User=root
Type=notify
ExecStart=/usr/sbin/himmelblaud_tasks

CapabilityBoundingSet=CAP_CHOWN CAP_FOWNER CAP_DAC_OVERRIDE CAP_DAC_READ_SEARCH CAP_SETUID
# SystemCallFilter=@aio @basic-io @chown @file-system @io-event @network-io @sync
ProtectSystem=strict
ReadWritePaths=/home /run/himmelblaud /tmp /etc/krb5.conf.d /etc /var/lib /var/cache/himmelblaud
NoNewPrivileges=false
PrivateDevices=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target

