[global]
# If you have an ODC provider (the default being odc.officeapps.live.com), specify
# the hostname for sending a federationProvider request. If the federationProvider
# request is successful, the tenant_id and authority_host options do not need to
# be specified.
#
# odc_provider = odc.officeapps.live.com
#
# tenant_id = XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
# authority_host = login.microsoftonline.com
#
# The enrolled device id.
# device_id = XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX

### Optional values
# Default app_id is Intune Portal for Linux
# app_id = b743a22d-6705-4147-8670-d92fa515ee2b
# socket_path = /var/run/himmelblaud/socket
# homedir = /home/%f ; home directory pattern for the user, the following mapping applies:
#                    ; %f - full username
#                    ; %U - UID
#                    ; %u - username without domain
#                    ; %d - domain
# shell = /bin/bash ; default shell for the user
# idmap_range = 5000000-5999999
# connection_timeout = 2

# Values overridden for a specific domain
# [domain.com]
# odc_provider = odc.officeapps.live.com
# tenant_id = XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
# authority_host = login.microsoftonline.com
# app_id = XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
# homedir = /home/domain.com/%u
# shell = /bin/zsh
# idmap_range = 6000000-6999999
