[global]
# For instructions on setting up application authentication for Azure AD, see
# https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal
# tenant_id = XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX

### Optional values
# Default app_id is Intune Portal for Linux
# app_id = b743a22d-6705-4147-8670-d92fa515ee2b
# socket_path = /var/run/himmelblaud/socket

# Values overridden for a specific domain
# [domain.com]
# tenant_id = XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
# app_id = XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
