[global]
# If you have an ODC provider (the default being odc.officeapps.live.com), specify
# the hostname for sending a federationProvider request. If the federationProvider
# request is successful, the tenant_id and authority_host options do not need to
# be specified.
# odc_provider = odc.officeapps.live.com
#
# pam_allow_groups MUST be defined or all users will be rejected by pam account.
# The option should be set to a comma seperated list of Groups which are allowed
# access to the system.
# The default is an empty list.
# pam_allow_groups =
#
# tenant_id = XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
# authority_host = login.microsoftonline.com
#
# The location of the cache database
# db_path = /var/cache/himmelblau/himmelblau.cache.db
#
# The tpm policy
# tpm_policy = ignore ; tpm_policy options:
#                     ; ignore
#                     ; if_possible
#                     ; required

### Optional values
# Default app_id is Intune Portal for Linux
# app_id = b743a22d-6705-4147-8670-d92fa515ee2b
# socket_path = /var/run/himmelblaud/socket
# task_socket_path = /var/run/himmelblaud/task_sock
# home_prefix = /home/
# home_attr = UUID ; home directory attribute options:
#                  ; UUID (default)
#                  ; SPN
# home_alias = SPN ; home directory alias options:
#                  ; UUID
#                  ; SPN (default)
# shell = /bin/bash ; default shell for the user
# idmap_range = 5000000-5999999
# connection_timeout = 2
# cache_timeout = 15
# use_etc_skel = false
# selinux = true

# Values overridden for a specific domain
# [domain.com]
# odc_provider = odc.officeapps.live.com
# tenant_id = XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
# authority_host = login.microsoftonline.com
# app_id = XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
# home_prefix = /home/
# home_attr = UUID
# home_alias = SPN
# shell = /bin/zsh
# idmap_range = 6000000-6999999
