[Unit]
Description=Refresh Microsoft Entra SSH certificate authority keys
After=network-online.target himmelblaud.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/himmelblau-ssh-ca-update
UMask=0022
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
ReadWritePaths=/var/lib/himmelblau/ssh-ca

