---
name: NixOS-CI

# Trigger the workflow on push or pull request
on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  nixos:
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
      with:
        extra_nix_config: experimental-features = nix-command flakes
    - run: nix flake check
    - run: nix build --max-jobs 1 ".#himmelblau" ".#himmelblau-desktop" 2>&1
