---
name: NixOS-CI

# Trigger the workflow on push or pull request
on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  nixos:
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
      with:
        extra_nix_config: experimental-features = nix-command flakes
    - run: nix flake check
    - run: nix build --max-jobs 1 ".#himmelblau" ".#himmelblau-desktop" 2>&1
