---
name: NixOS-CI

# Trigger the workflow on push or pull request
on:
  pull_request:
    branches:
      - main

env:
  HIMMELBLAU_ALLOW_MISSING_SELINUX: "1"

jobs:
  nixos:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        extra_nix_config: experimental-features = nix-command flakes
    - run: nix flake check
    - run: nix build --max-jobs 1 ".#himmelblau" ".#himmelblau-desktop"
