name: Rust Version Tagging (Post-Merge)

on:
  push:
    branches:
      - stable-0.5.x
      - stable-0.6.x
      - stable-0.7.x
      - stable-0.8.x
      - stable-0.9.x
      - stable-1.x
      - stable-2.x

permissions:
  contents: read

jobs:
  create-tag:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Git for tagging
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"

    - name: Extract version from Cargo.toml
      id: get-version
      run: |
        VERSION=$(grep '^version =' Cargo.toml | head -n 1 | sed 's/version = "\(.*\)"/\1/')
        echo "VERSION=$VERSION" >> $GITHUB_ENV

    - name: Create and push a new tag
      run: |
        git tag "$VERSION"
        git push origin "$VERSION"
