name: Rust Version Check (Pre-Merge)

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read

jobs:
  check-version:
    runs-on: ubuntu-latest

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up Rust
      uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
      with:
        toolchain: stable
        override: true

    - name: Extract version from Cargo.toml
      id: get-version
      run: |
        VERSION=$(grep '^version =' Cargo.toml | head -n 1 | sed 's/version = "\(.*\)"/\1/')
        echo "VERSION=$VERSION" >> $GITHUB_ENV
        echo "Package version: $VERSION"

    - name: Check if tag exists for the version
      run: |
        git fetch --tags
        if git rev-parse "$VERSION" >/dev/null 2>&1; then
          echo "Git tag for version $VERSION already exists!"
          exit 1
        else
          echo "No existing tag found for version $VERSION."
        fi
